.curriculum h2 {
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: 'Righteous';
}



.curriculum .container {
  margin-top: 70px;
}

body{
    background-color: #1e2326;
  }

  .container {
    display: flex;
    flex-wrap: wrap; /* envuelve las imágenes en varias líneas */
    height: 600px; /* altura del contenedor */
    align-items: center; /* centra verticalmente el contenedor */
  }
  
  img {
    width: calc(33.33% - 10px); /* ancho de cada imagen (33.33% del contenedor con 10px de espacio) */
    height: auto; /* mantiene la proporción de la imagen */
    margin-right: 10px; /* espacio entre las imágenes */
    margin-bottom: 10px; /* espacio entre las filas de imágenes */
  }
  
  img:nth-child(3n+1) {
    margin-left: 0; /* elimina el margen izquierdo de la primera imagen en cada fila */
  }
  
  img:nth-child(n+4) {
    margin-top: 10px; /* espacio entre las filas de imágenes */
  }
  
  img:last-child {
    margin-right: 0; /* eliminar el espacio a la derecha de la última imagen */
    margin-bottom: 0; /* eliminar el espacio debajo de la última fila de imágenes */
  }
  